.add-user {
    display: flex;
    justify-content: flex-end;
    margin-top: 16px;
}

.option-button {
    margin-left: 16px;
}

.options {
    display: flex;
}

.password-overlay {
    padding: 24px;
}